In [1]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("data/serialTexts.csv", sep=";", header=0)
df.shape

In [ ]:
df.drop_duplicates(subset="id_serial", inplace=True)
df.shape

In [ ]:
df.to_csv("data/serialTexts.txt", header=True, index=False, sep=";")

In [ ]:
df = pd.read_csv("data/serialTexts.txt", sep=";", header=0, index_col=0)
df.shape

In [ ]:
df.fillna('', inplace=True)

In [ ]:
df = df+" "

In [ ]:
df['mergedText'] = df.fillna('').sum(axis=1)
df[['mergedText']].head()

In [ ]:
df['mergedText'] = df['mergedText'].str.replace('<[^<]+?>', '')
df['mergedText'] = df['mergedText'].str.replace('&nbsp;', ' ')

In [ ]:
df[['mergedText']].to_csv("data/slantour_data.txt", header=False, index=False)

In [2]:
df2 = pd.read_csv("data/userEvents.csv", sep=";", header=0, index_col=0)
df2.head()

        objectID         lastModified
userID
186543      4927  2016-06-05 08:32:31
531244      4805  2016-01-19 12:06:10
531244         3  2016-06-23 11:42:13
531244      2155  2016-06-23 11:44:32
531244      4728  2016-07-26 07:18:13

In [3]:
df2.lastModified = pd.to_datetime(df2.lastModified,infer_datetime_format=True)
dfGB = df2.groupby(df2.index)

In [4]:
dfCount = dfGB["lastModified"].agg(['count', 'max', 'min'])
dfCount.head()

        count                 max                 min
userID
186543      1 2016-06-05 08:32:31 2016-06-05 08:32:31
531244     35 2018-01-29 16:36:31 2016-01-19 12:06:10
588117     56 2018-05-21 11:45:05 2016-04-15 09:42:17
596178     55 2017-06-06 14:56:17 2016-01-04 16:37:41
672696     10 2017-05-06 08:27:27 2016-02-15 17:04:57

In [5]:
validUsers = dfCount.loc[(dfCount["count"] > 1) & (dfCount["count"] <= 150)].index.values
validUsers

array([ 531244,  588117,  596178, ..., 2666022, 2666023, 2666061],
      dtype=int64)

In [6]:
df2Filtered = df2.loc[df2.index.isin(validUsers)]
df2Filtered.describe()

            objectID
count  250368.000000
mean     3417.218862
std      1979.787939
min         1.000000
25%      1456.000000
50%      4102.000000
75%      5065.000000
max      6243.000000

In [7]:
df2Filtered["strOID"] = df2Filtered.objectID.astype('str')

C:\Users\peska\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [8]:
df2Filtered.head()

        objectID        lastModified strOID
userID
531244      4805 2016-01-19 12:06:10   4805
531244         3 2016-06-23 11:42:13      3
531244      2155 2016-06-23 11:44:32   2155
531244      4728 2016-07-26 07:18:13   4728
531244       160 2016-07-26 07:23:01    160

In [9]:
dfGB2 = df2Filtered.groupby(df2Filtered.index)
dfConcat = dfGB2["strOID"].agg(lambda x : ' '.join(x))
dfConcat.head()

userID
531244    4805 3 2155 4728 160 4802 4687 4891 5088 98 52...
588117    4938 4668 571 4643 4234 3391 160 4623 4540 157...
596178    4377 4384 4661 3661 1566 2384 2313 3007 3280 4...
672696      4108 2067 3391 725 300 1687 5404 4467 5600 2331
715904    3079 4279 5071 4898 4571 5170 563 3737 5171 8 ...
Name: strOID, dtype: object

In [10]:
dfConcat.to_csv("user_data_wIndex.txt", header=False, index=True)
dfConcat.to_csv("user_data_woIndex.txt", header=False, index=False)

In [2]:
df3 = pd.read_csv("data/testSetEvents.csv", sep=";", header=0, index_col=0)
df3.head()

        objectID         lastModified
userID
715904      5685  2018-06-06 09:58:50
715904      5705  2018-06-06 09:58:56
715904      5706  2018-06-06 09:59:02
715904      3825  2018-06-06 10:00:07
715904      6155  2018-06-06 10:48:24

In [3]:
df3["strOID"] = df3.objectID.astype('str')
dfGB = df3.groupby(df3.index)

In [4]:
dfConcat = dfGB["strOID"].agg(lambda x : ' '.join(x))
dfConcat.head()

userID
715904     5685 5705 5706 3825 6155 1401 5954 2313 4911 5...
883157     3966 3686 5970 5969 6012 3273 5757 5600 5234 5...
983836                                                  1352
1045749         6023 6028 6053 6234 6052 6051 6029 6039 6032
1050097                                       6085 6096 6191
Name: strOID, dtype: object

In [5]:
dfConcat.to_csv("test_data_wIndex.txt", header=True, index=True)

In [15]:
df3 = pd.read_csv("data/userEvents.csv", sep=";", header=0, index_col=0)
df3.head()

        objectID         lastModified
userID
186543      4927  2016-06-05 08:32:31
531244      4805  2016-01-19 12:06:10
531244         3  2016-06-23 11:42:13
531244      2155  2016-06-23 11:44:32
531244      4728  2016-07-26 07:18:13

In [16]:
df3["strOID"] = df3.objectID.astype('str')
dfGB = df3.groupby(df3.index)
dfConcat = dfGB["strOID"].agg(lambda x : ' '.join(x))
dfConcat.head()

userID
186543                                                 4927
531244    4805 3 2155 4728 160 4802 4687 4891 5088 98 52...
588117    4938 4668 571 4643 4234 3391 160 4623 4540 157...
596178    4377 4384 4661 3661 1566 2384 2313 3007 3280 4...
672696      4108 2067 3391 725 300 1687 5404 4467 5600 2331
Name: strOID, dtype: object

In [17]:
dfConcat.to_csv("data/train_data_wIndex.txt", header=True, index=True)

In [18]:
df3["strDates"] = df3.lastModified.astype('str')
dfGB = df3.groupby(df3.index)
dfConcat = dfGB["strDates"].agg(lambda x : ','.join(x))
dfConcat.head()

userID
186543                                  2016-06-05 08:32:31
531244    2016-01-19 12:06:10,2016-06-23 11:42:13,2016-0...
588117    2016-04-15 09:42:17,2016-04-25 12:35:49,2016-0...
596178    2016-01-04 16:37:41,2016-01-04 16:38:45,2016-0...
672696    2016-02-15 17:04:57,2016-02-15 17:05:19,2016-0...
Name: strDates, dtype: object

In [20]:
dfConcat.to_csv("data/train_data_datetime_wIndex.txt", sep=";", header=True, index=True)

In [ ]:
testSet = pd.read_csv("data/test_data_wIndex.txt", sep=",", header=0, index_col=0)
testSet.head()

In [ ]:
testSet["oids"] = testSet.strOID.str.split()
testSet.head()

In [ ]:
trainSet = pd.read_csv("data/user_data_wIndex.txt", sep=",", header=None, index_col=0)
trainSet["oids"] = trainSet[1].str.split()
trainSet.head()

In [ ]:
df = pd.read_csv("data/serial_only_data.csv", sep=";", header=0, index_col=0)
df.shape

In [ ]:
df.head()

In [ ]:
df.id_typ = df.id_typ.astype(str)
df.strava = df.strava.astype(str)
df.doprava = df.doprava.astype(str)
df.ubytovani = df.ubytovani.astype(str)
df.head()

In [ ]:
df.fillna("", inplace=True)
df.zeme = df.zeme.str.replace(r':.+', "")
df.destinace = df.destinace.str.replace(r':.+', "")
df.head()

In [ ]:
dfDummy = pd.get_dummies(df[["id_typ","strava","doprava","ubytovani","zeme","destinace"]], prefix=["typ","strava","doprava","ubytovani","zeme","destinace"])
dfDummy.head()

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
vals = scaler.fit_transform(df[["ubytovani_kategorie", "AVG(prumerna_cena)","AVG(prumerna_cena_noc)","AVG(delka)"]].values)
df[["ubytovani_kategorie", "AVG(prumerna_cena)","AVG(prumerna_cena_noc)","AVG(delka)"]] = vals
df.head()

In [ ]:
dfDummy[["ubytovani_kategorie", "AVG(prumerna_cena)","AVG(prumerna_cena_noc)","AVG(delka)"]] = df[["ubytovani_kategorie", "AVG(prumerna_cena)","AVG(prumerna_cena_noc)","AVG(delka)"]]
dfDummy.head()

In [ ]:
dfDummy.to_csv("data/serialCBFeatures.txt", header=True, index=True)

In [33]:
df = pd.read_csv("data/train_data_datetime_wIndex.txt", sep=";", header=0, index_col=0)
df.head()

                                                 strDates
userID
186543                                2016-06-05 08:32:31
531244  2016-01-19 12:06:10,2016-06-23 11:42:13,2016-0...
588117  2016-04-15 09:42:17,2016-04-25 12:35:49,2016-0...
596178  2016-01-04 16:37:41,2016-01-04 16:38:45,2016-0...
672696  2016-02-15 17:04:57,2016-02-15 17:05:19,2016-0...

In [34]:
df["dates"] = df.strDates.str.split(",")
df.head()

,strDates,dates
userID,,
186543,2016-06-05 08:32:31,[2016-06-05 08:32:31]
531244,"2016-01-19 12:06:10,2016-06-23 11:42:13,2016-0...","[2016-01-19 12:06:10, 2016-06-23 11:42:13, 201..."
588117,"2016-04-15 09:42:17,2016-04-25 12:35:49,2016-0...","[2016-04-15 09:42:17, 2016-04-25 12:35:49, 201..."
596178,"2016-01-04 16:37:41,2016-01-04 16:38:45,2016-0...","[2016-01-04 16:37:41, 2016-01-04 16:38:45, 201..."
672696,"2016-02-15 17:04:57,2016-02-15 17:05:19,2016-0...","[2016-02-15 17:04:57, 2016-02-15 17:05:19, 201..."

In [35]:
import datetime
now = datetime.datetime(2018, 7, 1, 00, 00)
now

datetime.datetime(2018, 7, 1, 0, 0)

In [36]:
df["logDays"] = ""
df.head()

,strDates,dates,logDays
userID,,,
186543,2016-06-05 08:32:31,[2016-06-05 08:32:31],
531244,"2016-01-19 12:06:10,2016-06-23 11:42:13,2016-0...","[2016-01-19 12:06:10, 2016-06-23 11:42:13, 201...",
588117,"2016-04-15 09:42:17,2016-04-25 12:35:49,2016-0...","[2016-04-15 09:42:17, 2016-04-25 12:35:49, 201...",
596178,"2016-01-04 16:37:41,2016-01-04 16:38:45,2016-0...","[2016-01-04 16:37:41, 2016-01-04 16:38:45, 201...",
672696,"2016-02-15 17:04:57,2016-02-15 17:05:19,2016-0...","[2016-02-15 17:04:57, 2016-02-15 17:05:19, 201...",

In [37]:
df.logDays.astype(object, inplace=True)
df.head()

,strDates,dates,logDays
userID,,,
186543,2016-06-05 08:32:31,[2016-06-05 08:32:31],
531244,"2016-01-19 12:06:10,2016-06-23 11:42:13,2016-0...","[2016-01-19 12:06:10, 2016-06-23 11:42:13, 201...",
588117,"2016-04-15 09:42:17,2016-04-25 12:35:49,2016-0...","[2016-04-15 09:42:17, 2016-04-25 12:35:49, 201...",
596178,"2016-01-04 16:37:41,2016-01-04 16:38:45,2016-0...","[2016-01-04 16:37:41, 2016-01-04 16:38:45, 201...",
672696,"2016-02-15 17:04:57,2016-02-15 17:05:19,2016-0...","[2016-02-15 17:04:57, 2016-02-15 17:05:19, 201...",

In [38]:
import math
for idx,val in df.dates.iteritems():
    v2 = [1/(math.log(max([(now - datetime.datetime.strptime(i, '%Y-%m-%d %H:%M:%S')).days,1]) )+0.1) for i in val]
    df.logDays[idx] = v2
df.head()

,strDates,dates,logDays
userID,,,
186543,2016-06-05 08:32:31,[2016-06-05 08:32:31],[0.14866091268830786]
531244,"2016-01-19 12:06:10,2016-06-23 11:42:13,2016-0...","[2016-01-19 12:06:10, 2016-06-23 11:42:13, 201...","[0.14504132891357085, 0.14919610396535354, 0.1..."
588117,"2016-04-15 09:42:17,2016-04-25 12:35:49,2016-0...","[2016-04-15 09:42:17, 2016-04-25 12:35:49, 201...","[0.14723022240461198, 0.14750134522524172, 0.1..."
596178,"2016-01-04 16:37:41,2016-01-04 16:38:45,2016-0...","[2016-01-04 16:37:41, 2016-01-04 16:38:45, 201...","[0.1446917436599719, 0.1446917436599719, 0.144..."
672696,"2016-02-15 17:04:57,2016-02-15 17:05:19,2016-0...","[2016-02-15 17:04:57, 2016-02-15 17:05:19, 201...","[0.1456900885317203, 0.1456900885317203, 0.146..."

In [39]:
df = df[["logDays"]]
df.to_csv("data/serialLogDays.txt", header=True, index=True)