In [1]:
import pandas as pd
import numpy as np

In [2]:
df2 = pd.read_csv("data/userEvents.csv", sep=";", header=0, index_col=0)
df2.head()

        objectID         lastModified
userID
186543      4927  2016-06-05 08:32:31
531244      4805  2016-01-19 12:06:10
531244         3  2016-06-23 11:42:13
531244      2155  2016-06-23 11:44:32
531244      4728  2016-07-26 07:18:13

In [3]:
df2.lastModified = pd.to_datetime(df2.lastModified,infer_datetime_format=True)
dfGB = df2.groupby(df2.index)

In [4]:
dfCount = dfGB["lastModified"].agg(['count', 'max', 'min'])
dfCount.head()

        count                 max                 min
userID
186543      1 2016-06-05 08:32:31 2016-06-05 08:32:31
531244     35 2018-01-29 16:36:31 2016-01-19 12:06:10
588117     56 2018-05-21 11:45:05 2016-04-15 09:42:17
596178     55 2017-06-06 14:56:17 2016-01-04 16:37:41
672696     10 2017-05-06 08:27:27 2016-02-15 17:04:57

In [5]:
dfCount["diff"] = dfCount["max"] - dfCount["min"]
dfCount.head()

        count                 max                 min              diff
userID
186543      1 2016-06-05 08:32:31 2016-06-05 08:32:31   0 days 00:00:00
531244     35 2018-01-29 16:36:31 2016-01-19 12:06:10 741 days 04:30:21
588117     56 2018-05-21 11:45:05 2016-04-15 09:42:17 766 days 02:02:48
596178     55 2017-06-06 14:56:17 2016-01-04 16:37:41 518 days 22:18:36
672696     10 2017-05-06 08:27:27 2016-02-15 17:04:57 445 days 15:22:30

In [6]:
dfCount["diff"].describe()

count                     372884
mean      6 days 07:25:52.592948
std      46 days 05:17:00.830481
min              0 days 00:00:00
25%              0 days 00:00:00
50%              0 days 00:00:00
75%              0 days 00:00:00
max            877 days 05:45:11
Name: diff, dtype: object

In [12]:
import datetime
dfCount = dfCount.loc[(dfCount["count"] > 1) & (dfCount["count"] <= 150)]
dfCount["diff"].describe()

count                       69487
mean      33 days 16:25:29.123533
std      102 days 02:19:58.373609
min               0 days 00:00:01
25%               0 days 00:01:20
50%               0 days 00:04:46
75%        1 days 22:52:59.500000
max             875 days 13:46:48
Name: diff, dtype: object